@media screen and (max-width:768px) {
    .navbar img {
        width: 100px;
    }

    .navbar {
        width: 100%;
        height: 100%;
    }

    .navbar-toggler i {
        font-size: 25px;
        background: black;
        color: #ffffff;
        padding: 8px 14px;
    }

    .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: 0 0 0 .0rem;
    }

    .topbar-main a.nav-link {
        font-size: 18px;
    }

    .topbar-btn {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
      .topbar-btn .btn-sec {
    font-size: 14px;
    margin-right: 66%;
  }
    .topbar-btn .btn-sec-2 {
    margin-right: 66%;
    padding: 9px 60px;
    font-size: 15px;
    font-weight: bold;
  }
    #sidebar {
    position: fixed;
    top: 38%;
    right: -450px;
    width: 450px;
    height: 39%;
    background-color: #fff;
    color: white;
    transition: right 0.3s ease;
    z-index: 999;
    overflow-y: auto;
    left: 0px;
  }

    .header-main .carousel-item img {
        width: 100%;
        height: 100vh;
    }

    .header-main .carousel-caption {
        width: 100%;
        left: 42%;
        top: 25%;
    }

    .header-main .carousel-caption h5 {
        font-size: 40px;
        line-height: 35px;
        margin-top: 20px;
    }

    .header-main .carousel-caption p {
        font-size: 16px;
        margin-top: 20px;
    }
    .btn1,
    .btn2 {
        font-size: 16px;
    }
    .exports-info a {
    margin-right: 71%;
    font-size: 16px;
    padding: 8px 8px;
    margin-top: 12px;
  }
  .exports-info p {
    font-size: 16px!important;
    line-height: 30px;
  }
  .img-content {
    margin-top: 20%;
  }
  .location-info a {
    margin-top: 40px;
  }
  .price-content {
    padding: 0px;
  }
  .price-content span {
    font-size: 16px;
  }
  .price-content p {
    font-size: 12px!important;
  }
  .text-info {
    margin-top: 15px;
  }
  .finished-project p {
    font-size: 16px!important;
    line-height: 30px;
    margin-top: 10px;
  }
  .tab-section {
    height: 90vh;
  }
  .tab-section h2 {
    margin-top: 6px !important;
    margin-left: 8px;
  }
.tab-section p {
    line-height: 32px;
    margin-left: 33px !important;
}
   .feature-list {
    width: 395px;
    margin-left: -10px;
  }
    .tabs-btn a {
    margin-left: 38px;
    font-size: 14px;
  }
  .work-content img {
    margin-top: 0px;
}
.help-section {
  height: 90vh;
}
.btn-work {
    margin-top: 10px;
    margin-left: 0px;
}
.btn-work-1 a, .btn-work-2 a {
    font-size: 10px;
    margin-top: 16px;
    display: inline-block;
  }
  .blog-content-2 {
    padding: 20px 20px;
  }
  .card-img-overlay {
    margin-top: 38%;
}
.contact-btn button {
  font-size: 10px;
}
.footer-last p {
  margin-left: -14px;
}

}